<div class="w-full h-full relative">
    <!-- Logo en esquina superior izquierda -->
    <div class="absolute top-6 left-6">
        <img src="/UMLForgeIcon.png" alt="UMLForge logo" class="h-24 w-auto" />
    </div>

    <!-- Contenedor principal -->
    <div class="w-full max-w-sm mx-auto pt-8">
        <h1 class="text-4xl font-medium text-gray-900 text-center mb-10">
            Nueva contraseña
        </h1>

        <form class="space-y-6">
            <div class="relative">
                <password-input 
                    label="Nueva contraseña" 
                    inputId="new-password" 
                    placeholder="••••••"
                    labelClass="text-gray-600 mb-2"
                    iconTopPosition="top-[2.4rem]"
                />
            </div>

            <div class="relative">
                <password-input 
                    label="Confirmar contraseña" 
                    inputId="confirm-password" 
                    placeholder="••••••" 
                    labelClass="text-gray-600 mb-2"
                    iconTopPosition="top-[2.4rem]"
                />
            </div>

        </form>

        <!-- Button section -->
        <div class="flex absolute bottom-[-6rem] right-0 mr-12 gap-4 justify-end pt-4">
            <secondary-button [text]="TextSecondary" (onClick)="onGoBackToLog()" />
            <primary-button [text]="TextPrimary" (onClick)="nextStepFunction()" />
        </div>
    </div>
</div>