<div class="p-6 max-w-7xl mx-auto">
    <!-- Encabezado -->
    <div class="mb-5">
        <h1 class="text-3xl font-semibold text-gray-800">Mis proyectos</h1>

        <!-- <div class="justify-end flex mt-5">
            <button
                class="inline-flex items-center px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-400 cursor-pointer transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-white" viewBox="0 -960 960 960"
                    fill="currentColor">
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                </svg>
                Crear nuevo proyecto
            </button>
        </div> -->
    </div>

    <!-- Lista de proyectos -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Solo mostramos los proyectos de la página actual -->
        @for (project of displayedProjects; track $index) {
        <div
            class="bg-white rounded-lg shadow p-5 border border-gray-200 flex flex-col min-h-[265px] hover:bg-yellow-50 transition group">
            <!-- Contenedor del título y botón de opciones -->
            <div class="flex justify-between items-center relative">
                <div class="flex items-center space-x-3">
                    <img src="UMLForgeOnlyIcon.png" alt="UMLForge" class="w-10 h-10 mb-2">
                    <h2 class="text-lg font-semibold text-gray-800">{{ project.name }}</h2>
                </div>


                <!-- <button
                    class="p-1.5 rounded-full text-gray-400 hover:bg-gray-200 hover:text-gray-600 opacity-0 group-hover:opacity-100 transition-opacity"
                    title="Más opciones">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                    </svg>
                </button> -->
                <!-- Botón de opciones que aparece en hover -->
                <div class="relative">
                    <button #optionsButton title="Más opciones"
                        class="p-1.5 rounded-full text-gray-400 hover:bg-gray-200 hover:text-gray-600 opacity-0 group-hover:opacity-100 transition-opacity"
                        title="Más opciones" (click)="toggleOptionsMenu($event, project, optionsButton)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                        </svg>
                    </button>
                    @if (project.showOptions) {
                    <app-options-menu position="right" [triggerRect]="optionsButton.getBoundingClientRect()"
                        (optionSelected)="handleOptionSelected($event, project)">
                    </app-options-menu>
                    }
                </div>
            </div>

            <!-- Resto del contenido -->
            <div class="p-2 flex-grow">
                <p class="text-gray-600 text-justify">Este proyecto actualmente contiene diagramas pertenecientes a los
                    siguientes tipos:</p>
                <div class="flex flex-wrap items-center mt-3">
                    @for (diagram of project.diagrams; track diagram) {
                    <span [class]="getDiagramTagClass(diagram)"
                        class="text-xs font-medium rounded-full px-2.5 py-1 mr-2 mb-2">{{
                        diagram }}</span>
                    }
                </div>
            </div>

            <div class="flex justify-center">
                <button [routerLink]="['/dashboard/projects', project.id, 'diagrams']"
                    class="inline-flex items-center px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-400 cursor-pointer transition">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 -960 960 960"
                        fill="currentColor">
                        <path
                            d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640H447l-80-80H160v480l96-320h684L837-217q-8 26-29.5 41.5T760-160H160Zm84-80h516l72-240H316l-72 240Zm0 0 72-240-72 240Zm-84-400v-80 80Z" />
                    </svg>
                    Abrir proyecto
                </button>
            </div>
        </div>
        }

        <!-- Si no hay proyectos, mostrar mensaje -->
        @if (displayedProjects.length === 0) {
        <div class="col-span-3 p-8 text-center text-gray-500">
            No hay proyectos disponibles.
        </div>
        }
    </div>

    <!-- Paginador (solo se muestra si hay más de 6 proyectos) -->
    @if (totalPages > 1) {
    <app-paginator [currentPage]="currentPage" [totalPages]="totalPages" [accentColor]="accentColor"
        (pageChanged)="goToPage($event)" class="mt-8 flex justify-center space-x-2">
    </app-paginator>
    }

    @if (showRenameModal && projectToRename) {
    <app-rename [itemName]="projectToRename.name" [documentType]="'Proyecto'" [itemId]="projectToRename.id"
        (close)="closeRenameModal()" (rename)="handleRename($event)">
    </app-rename>
    }

    @if (showDetailsModal && selectedItemDetails) {
    <app-details [item]="selectedItemDetails" (close)="closeDetailsModal()">
    </app-details>
    }

    @if (showConfirmationModal) {
    <app-confirmation [config]="confirmationConfig" (confirm)="handleConfirmation()"
        (cancel)="closeConfirmationModal()">
    </app-confirmation>
    }
</div>