<div class="bg-gray-50 min-h-screen flex items-center justify-center p-4">
    <div class="bg-white rounded-lg shadow-lg max-w-5xl w-full h-[25em] flex">
        <div class="w-full h-full">
            @switch (step) {
                @case (1) {
                    <div>
                        <app-step-1 [nextStepFunction]="nextStep.bind(this)"
                        [goBackToLogFunction]="goBackToLog.bind(this)"/>
                    </div>
                }
                @case (2) {
                    <div>
                        <app-step-2 [nextStepFunction]="nextStep.bind(this)" 
                        [prevStepFunction]="prevStep.bind(this)"/>
                    </div>
                }
                @case (3) {
                    <div>
                        <app-step-3 [nextStepFunction]="nextStep.bind(this)"
                        [goBackToLogFunction]="goBackToLog.bind(this)"/>
                    </div>
                }
                @case (4) {
                    <div>
                        <app-step-4 [goBackToLogFunction]="goBackToLog.bind(this)"/>
                    </div>
                }
            }
        </div>
    </div>
</div>
